
form{
    padding-top: 1vh;
    padding-bottom: 2vh;
    padding-left: 7vh;
    padding-right: 7vh;
    color: white;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(35deg, rgb(20, 20, 20), rgb(44, 44, 44));
    box-shadow: rgba(0, 0, 0, 0.7) 0px 5px 15px;
    border-radius: 1vh;
    max-width: 30%;
    margin-top: 2vh;
    margin-left: 5vh;
    margin-bottom: 2vh;
}

form h1{
    margin-bottom: 4vh;
    text-align: center;
    font-size: 5vh;
}

form p{
    margin-bottom: 0.5vh;
    font-weight: bold;
    font-size: 3vh;
    margin-top: 0;
}

form input{
    padding-left: 1vh;
    padding-right: 1vh;
    border: 0;
    border-radius: 1vh;
    background-color: rgb(255, 255, 255);
    height: 5vh;
    margin-bottom: 2vh;
}

form input:last-of-type{
    margin-bottom: 0;
}

form button{
    cursor: pointer;
    font-size: 2.5vh;
    font-weight: bold;
    margin-top: 5vh;
    background-color: white;
    border: 0;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding: 2vh;
    border-radius: 2vh;
}

.container{
    align-items: center;
    display: flex;
    flex-direction: row;
}

.container img{
    margin-top: 5vh;
    margin-left: 15vh;
    width: 50vw;
    object-fit: contain;
}


html, body{
    margin: 0;
    padding: 0  
}


body{
    background-image: linear-gradient(to left, rgb(43, 43, 43), rgb(116, 116, 116));
}