html, body{
    margin: 0;
    padding: 0  
}


body{
    height: 100vh;
    background-image: linear-gradient(135deg, rgb(31, 31, 31), rgb(97, 97, 97));
}

form{
    padding-top: 4vh;
    padding-bottom: 4vh;
    padding-left: 7vh;
    padding-right: 7vh;
    color: white;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(35deg, rgb(20, 20, 20), rgb(44, 44, 44));
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    border-radius: 2vh;
    width: 25%;
    margin-top: 2vh;
    margin-left: auto;
    margin-right: auto;

}



form a{
    font-weight: bold;
    margin-top: 6vh;
    font-size: 2.3vh;
    margin-left: auto;
    margin-right: auto;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

form a:hover{
    transition: 0.5s;
    color: rgb(202, 202, 202);
    text-decoration: underline;
}

form h1{
    font-size: 5.2vh;
    text-align: center;
    margin: 0;
    margin-bottom: 4vh;
}

form p{
    margin-bottom: 0.5vh;
    font-weight: bold;
    font-size: 2.6vh;
    margin-top: 0;
}

form input{

    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    padding-left: 1vh;
    padding-right: 1vh;
    border: 0;
    font-size: 2.4vh;
    border-radius: 1vh;
    background-color: rgb(255, 255, 255);
    height: 5vh;
    margin-bottom: 1.5vh;
}

form input:last-of-type{
    margin-bottom: 0;
}

form button{
    margin-top: 1vh;
    font-size: 2.8vh;
    font-weight: bold;
    background-color: white;
    border: 0;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding: 2vh;
    border-radius: 2vh;
    cursor: pointer;
}
